<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href= "./css/styles.css">
        <link rel="icon" href="../../public/img/images.png"
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>{{info}}</p>
            <p>This site was created by {{name}}. It uses Mapbox API and Dark Sky Weather API</p>
            <img class="portrait" src="img/note_img.jpg">
        </div>
        
        
        {{>footer}}
        
    </body>
</html>